<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>

    <!-- build:css css/app.min.css -->
      <link rel="stylesheet" href="css/app.css">
    <!-- endbuild -->

    <!-- <script src="http://maps.googleapis.com/maps/api/js"></script>
<script>
function initialize() {
  var mapProp = {
    center:new google.maps.LatLng(51.508742,-0.120850),
    zoom:5,
    mapTypeId:google.maps.MapTypeId.ROADMAP
  };
  var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
}
google.maps.event.addDomListener(window, 'load', initialize);
</script> -->


  </head>
  <body>
    <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.5";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


    <div class="off-canvas-wrapper">
      <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
        <div class="off-canvas position-left" id="offCanvas" data-off-canvas>
          {% include "partials/offcanvas-nav.html" %}
        </div>
        <div class="off-canvas-content" data-off-canvas-content>
          {% block content %}

          {% endblock %}
      </div><!-- end off-canvas-content
      </div><!-- end off-canvas-wrapper-inner -->
    </div><!-- end off-canvas-wrapper -->




    <!-- build:js js/app.min.js -->
      <!-- inject:js -->
      <!-- endinject -->
    <!-- endbuild -->

  </body>
</html>
