<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link href='https://fonts.googleapis.com/css?family=Ovo|Lato:400,700' rel='stylesheet' type='text/css'>

    <!-- build:css css/app.min.css -->
      <link rel="stylesheet" href="css/app.css">
    <!-- endbuild -->
  </head>
  <body>
    <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.5";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


    <div class="off-canvas-wrapper">
      <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
        <div class="off-canvas position-left" id="offCanvas" data-off-canvas>
          {% include "partials/offcanvas-nav.html" %}
        </div>
        <div class="off-canvas-content" data-off-canvas-content>
          {% block content %}

          {% endblock %}
        </div><!-- end off-canvas-content -->
      </div><!-- end off-canvas-wrapper-inner -->
    </div><!-- end off-canvas-wrapper -->

    <!-- build:js js/app.min.js -->
      <!-- inject:js -->
      <!-- endinject -->
    <!-- endbuild -->

  </body>
</html>
