<footer class="footer">
  <div class="row align-justify">
    <div class="small-12 medium-4 columns">
      <h5 class="footer-title">Stay Connected</h5>
      <p>Get the latest update on Intangible Communications</p>
      <div class="input-group" >

        <input class="input-group-field" type="email" placeholder="email address">
        <div class="input-group-button">
          <input type="submit" class="button" value="Submit" >
        </div>
      </div>

    </div>
    <div class="small-12 medium-6 columns">
      <ul class="footer-navigation">
        <li><a href="#">Home</a></li>
        <li><a href="#">What we do</a></li>
        <li><a href="#">Word of mouth</a></li>
        <li><a href="#">Who we are</a></li>
        <li><a href="#">get in touch</a></li>
      </ul>
      <p class="footer-copy">2016 &copy; Intangible Communication | Company No. 200305116D</p>
      <div class="row align-center">
        <div class="small-12 large-8 colomns">
          <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-width="250px" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
        </div>
        <div class="small-12 large-4 columns medium-text-right">
          <ul class="footer-social">
            <li class="social-links"><a href=""><span class="show-for-sr">Facebook</span><i class="fa fa-facebook fw"></i></a></li>
            <li class="social-links"><a href=""><span class="show-for-sr">Linkedin</span><i class="fa fa-linkedin fw"></i></a></li>
          </ul>

        </div>

      </div>



    </div>

  </div>
</footer>
