{% extends "layout-2.html" %}

{% block content%}
  {% import "macros/navbar-macro.html" as nav %}
  {{nav.active('home')}}

  <header class="home-header text-center">
    <div class="row">
      <div class="columns">
        <h1 class="home-header-title">Good communicators make great leaders</h1>
        <p class="home-header-caption">
          They tell stories  and really connect with us. Their style appears effortless, unattainable. But it can be learned and we can teach you
        </p>
        <a href="#" class="button">Find out more</a>
      </div>
    </div>
  </header>

  <section class="home-section ">
    <div class="row home-intro align-center">
      <div class="small-12 medium-4 columns text-center">
        <img src="./images/icon_obstacles.png" alt="" />
        <h3>Overcome obstacles by applying the skills of great communicators</h3>
      </div>
      <div class="small-12 medium-8 large-6 columns">
        <p>
          Tedious content, confused messages, death by PowerPoint, anxious presenters, bored audiences, unconvinced customers, sceptical staff... we’ve all been there.
        </p>
        <p>
          To direct behaviour and effect change, great communicators actively connect with their audience with a strong, well structured narrative. They share their intellect and belief, their passion and personality.
        </p>
        <p>
          Through a series of active exercises, you will experience and learn the insights, processes and technical expertise used by writers, performers and accomplished speakers.
        </p>
        <p>
          But that is only half the equation. We believe your audience will feel truly inspired and motivated when you speak with conviction – to their hearts as well as their minds.
        </p>
      </div>
    </div>

    <div class="row home-intro align-center">
      <div class="small-12 medium-4  columns text-center">
        <img src="./images/icon_heart.png" alt="" />
        <h3>
          Present naturally with integrity and passion
        </h3>

      </div>
      <div class="small-12 medium-8 large-6 columns">
        <p>
          To achieve this we do not offer formula-based presentation training by a team of people who have been trained to train. Instead we design a very personalised program which is delivered by a coach with extensive experience in both the entertainment and corporate sectors.
        </p>
        <p>
          Every engagement is customised because every person and team we work with has unique experience, personality, confidence level, objectives and target audiences.One size does not fit all.
        </p>
        <p>
          <strong>Our primary purpose is to help you truly understand and connect with your audience so they won’t just hear you, they will believe.</strong>
        </p>
      </div>

    </div>
  </section>

  <section class="home-section text-center home-about">
    <h3 class="text-center home-section-title">What we do</h3>
    <div class="row">
      <div class="small-6 medium-3">
        <img src="./images/icon_group.png" alt="" />
        <h4 class="lead">
          Group Training
        </h4>
      </div>
      <div class="small-6 medium-3">
        <img src="./images/icon_individual.png" alt="" />
        <h4 class="lead">
          Individual Sessions
        </h4>
      </div>
      <div class="small-6 medium-3">
        <img src="./images/icon_speak.png" alt="" />
        <h4 class="lead">
          Speak to be Understood
        </h4>
      </div>
      <div class="small-6 medium-3">
        <img src="./images/icon_prepare.png" alt="" />
        <h4 class="lead">
          Prepare to present
        </h4>
      </div>

    </div>
  </section>

  <section class="client-list section">
    <div class="row">
      <div class="columns">
        <h3 class="heading text-center">
          Our presentation clients include
        </h3>
        <ul class="client-list-images">
        {% for i in range(1, 16) -%}
          <li class="home"><img src="images/home-page-clients/{{ i }}.png" alt="" /></li>
        {%- endfor %}
        </ul>
      </div>
    </div>
  </section>

  <section class="home-section home-cta">
    <div class="row">
      <div class="columns">
        <h3 class="home-cta-title">Develop the core skills to present with feeling, energy, and impact</h3>
        <p>Discover how our sessions will help you make the strongest connection with your audience.</p>
        <a class="button button-white" href="#">Learn more</a>
      </div>
    </div>
  </section>

  <section class="home-section home-testimonials">
    <div id="carouselContainer" class="row align-spaced" data-equalizer>

      {% for t in testimonials %}

      <div class="small-12 medium-5 testimonial-slide">
        <div class="testimonial-body" data-equalizer-watch>
          <p class="testimonial-text">
            <span class="testimonial-quote-marks">
              &ldquo;
            </span>
            {{t.text}}
            <span class="testimonial-quote-marks--bottom">
              &rdquo;
            </span>
          </p>
        </div>
        <div class="row align-middle align-center">
          <div class="small-3 columns">
            <img class="testimonial-profile-pic" src="images/testimonials/{{t.image}}.png" alt="{{t.name}}" />
          </div>
          <div class="small-8 columns testimonial-meta">
            <p>
              {{t.name}}, <br>
              {{t.position}}
            </p>
            <img class="testimonial-company" src="images/testimonials/{{t.logo}}.png" alt="{{t.company}}" />
          </div>
        </div>
      </div>{# end first testimonial #}

      {% endfor %}

    </div>{# end carouselContainer #}
  </section>

  <section class="home-section home-final-cta">
    <div class="row">
      <div class="columns text-center">
        <h3 >Let us help you motivate your audience</h3>
        <p>
          Contact us by email or phone to arrange our first meeting
        </p>
        <a class="button" href="button">Get in touch</a>

      </div>

    </div>

  </section>


  {% include "partials/footer.html" %}
{% endblock %}
