{% extends "layout-2.html" %}

{% block content%}
  {% import "macros/navbar-macro.html" as nav %}
  {{nav.active('presentations')}}

  <header class="page-header">
    <div class="row">
      <div class="columns">
        <h2 class="page-heading">We meet your needs with customised tailored programs</h2>
        <p class="lead">We offer coaching and training in four vital areas that can be separated or combined.</p>
      </div>
    </div>
  </header>

  <div class="image-break wwd-image"></div>

  <div class="row" >
    <div class="small-12 medium-4 columns wwd-grey" >
      <h3 class="heading">Get your message right for all occassions</h3>
    </div>
    <div class="small-12 medium-8 columns wwd-text">
      <blockquote>&ldquo;Complexity is your enemy. Any fool can make something complicated. It is hard to keep things simple.&rdquo;
      <cite>Richard Branson</cite>
      </blockquote>
      <p>Crafting your content is a challenging exercise. One of the dangers is that our key messages get swamped in detail and we lose our audience.</p>
      <p>Applying communication principles refined over centuries by dramatic writers, and more recently journalists,  gives you a framework to create a compelling narrative for your content.</p>
    </div>
  </div>

  <div class="row">
    <div class="small-12 medium-4 columns medium-order-2 wwd-grey ">
      <h3 class="heading">Master your body language, vocal dynamics, and content delivery</h3>
    </div>
    <div class="small-12 medium-8 columns medium-order-1 wwd-text">
      <blockquote>
        &ldquo;There are always three speeches, for every one you actually gave. The one you practiced, the one you gave, and the one you wish you gave.&rdquo;
        <cite>Dale Carnegie</cite>
      </blockquote>
      <p>What do we do with our body and voice to communicate with integrity? More importantly, what are we doing – and is our body and voice aligned with our content or sending a different message altogether? </p>
      <p>Exercising presentation techniques and skills gives you the confidence to perform in the same way that elite athletes benefit from coaching and training.</p>
    </div>
  </div>

  <div class="row">
    <div class="small-12 medium-4 columns wwd-grey">
      <h3 class="heading">Speak to be understood</h3>
    </div>
    <div class="small-12 medium-8 columns wwd-text">
      <blockquote>
        &ldquo;Speak clearly, if you speak at all. Carve every word before you let it fall.&rdquo;
        <cite>Oliver Wendell Holmes</cite>
      </blockquote>
      <p>We all speak the English language differently – and sometimes our audiences have difficulty understanding what we are saying.</p>
      <p>This is an area which can be controlled so our audience understands every word we say  and our messages are clearly received.</p>
      <p>We explain the mechanics of articulation and correct pronunciation and through a series of exercises guide you to improve your vocal clarity to a professional and</p>
    </div>
  </div>

  <div class="row">

    <div class="small-12 medium-4 columns medium-order-2 wwd-grey">
      <h3 class="heading">Prepare for a pitch or event</h3>
    </div>
    <div class="small-12 medium-8 columns medium-order-1 wwd-text">
      <blockquote>
        &ldquo;It usually takes me more than three weeks to prepare a good impromptu speech.&rdquo;
        <cite>Mark Twain</cite>
      </blockquote>
      <p>Allocating time to prepare for a critical presentation is straightforward – but having the right process to get ‘pitch perfect’ in the shortest possible time can be challenging.</p>
      <p>We help you refine your story and then rehearse and practise so you are confident, relaxed and ready to inspire the crowd.</p>
    </div>
  </div>

  <div class="row">
    <div class="small-12 medium-4 columns wwd-grey">
      <h3 class="heading">Additional Services: Video Production, Event Management</h3>
    </div>
    <div class="small-12 medium-8 columns text-center wwd-text">
      <p>While our primary focus is presentation training, we continue to assist our clients with their video production and event management needs.</p>
      <p><a class="button" href="#">Learn More</a></p>
    </div>
  </div>

  <section class="section">
    <div class="row align-center">
      <div class="columns large-8">
        <h3 class="heading medium-text-center"><span class="case">CASE STUDY 1:</span> Selling your business to a room full of investors in six minutes</h3>
        <img src="./images/img_case-study-1.jpg" alt="Selling to a room full of investors"/>
        <div class="paragraph-text">
          <p>
            Since 2012 we have worked exclusively with all the founders in the JFDI.Asia Accelerate progam.
          </p>
          <p>
            At first, we hold sessions to understand and overcome the obstacles to clear communication and to develop the skills and techniques for impactful presentation. Secondly, we rehearse with the presenters so their investor pitch content is focused and their delivery is sharp.
          </p>
          <p>
            On average, 60% of JFDI startup businesses achieve seed funding.
          </p>
        </div>
      </div>
    </div>

    <div class="row align-center">
      <div class="columns large-8">
        <h3 class="heading medium-text-center"><span class="case">CASE STUDY 2: </span>Describing your technology framework to 2000 professionals in five minutes</h3>
        <img src="./images/img_case-study-2.jpg" alt="Describing your technology framework to 2000 porfessionals"/>
        <div class="paragraph-text">
          <p>
            We were engaged by Redmart to work with Rajesh in preparation for a 5 minutes presentation at a recent Amazon Web Services conference.
          </p>
          <p>
            The first run-through took 21 minutes and it took more than 14 days to distill the content without diluting the key messages. And then we focused on delivery and clarity.
          </p>
        </div>
      </div>
    </div>

    <div class="row align-center">
      <div class="columns large-8">
        <h3 class="heading medium-text-center"><span class="case">CASE STUDY 3: </span>Helping companies communicate their culture and values at all levels to all audiences</h3>
        <img src="./images/img_case-study-3.jpg" alt="Helping companies communicate teir culture"/>
        <div class="paragraph-text">
          <p>
            With BT Financial Group in Australia, Standard Chartered, Deutsche Bank, Verticurl and JFDI Asia in Singapore we have enjoyed long term relationships over many years.
          </p>
          <p>
            We have worked with their executives, from graduates to middle management to C level, in preparation for small meetings, management conferences, national and international roadshows, videos and investor pitches.
          </p>
          <p>
            We work with them extensively them to define, rehearse and deliver compelling content to their staff and clients.
          </p>
        </div>
      </div>
    </div>
  </section>


  {% include "partials/footer.html" %}
{% endblock %}
