{% extends "layout-2.html" %}

{% block content%}
  {% import "macros/navbar-macro.html" as nav %}
  {{nav.active('videos_events')}}

  <header class="page-header">
    <div class="row">
      <div class="columns">
        <h2 class="page-heading">We have been creating, producing, and managing corporate video and events for more than 20 years</h2>
        <p class="lead">We have extensive experience around the world with premium clients from diverse industries.</p>
      </div>
    </div>
  </header>
  <div class="client-list section">
    <div class="row">
      <div class="columns">
        <h3 class="heading text-center">Our event and video clients include</h3>
        <ul class="client-list-images">
        {% for i in range(1, 15) -%}
          <li><img src="images/video-clients/{{ i }}.png" alt="" /></li>
        {%- endfor %}
        </ul>
      </div>
    </div>
  </div>

  <div class="image-break vae-image"></div>

  <div class="row" >
    <div class="small-12 medium-4 columns wwd-grey" >
      <h3 class="heading">Video</h3>
    </div>
    <div class="small-12 medium-8 columns wwd-text">
      <blockquote>&ldquo;Video is the future of content marketing... If a
picture paints 1,000 words then one minute of
video is worth 1.8 million.&rdquo;
      <cite>The Guardian</cite>
      </blockquote>
      <p>
        Communicating to your staff and clients with clarity, impact and creative flair is crucial for retention and motivation. We crystalise your ideas into memorable packages.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="small-12 medium-4 columns medium-order-2 wwd-grey ">
      <h3 class="heading">
        Master your body language, vocal dynamics, and content delivery
      </h3>
    </div>
    <div class="small-12 medium-8 columns medium-order-1 wwd-text">
      <blockquote>
        &ldquo;They may forget what you said, but they will never forget how you made them feel.&rdquo;
        <cite>Carl W. Buechner</cite>
      </blockquote>
      <p>
        We work with you to ensure that your profile audience is engaged before, during and after the event and that your messages and objectives are identified, delivered with impact, reinforced and retained.
      </p>
    </div>
  </div>

  <section class="section">
    <div class="row align-center">
      <div class="columns large-8">
        <h3 class="heading medium-text-center">Video Showreel</h3>
        <img src="./images/img_case-study-1.jpg" alt="Selling to a room full of investors"/>
        <div class="text-paragraph">
          &nbsp;
        </div>
      </div>
    </div>

    <div class="row align-center">
      <div class="columns large-8">
        <h3 class="heading medium-text-center">
          <span class="case">CASE STUDY 1: </span>
          Bringing an online company to life with an aspirational video
        </h3>
        <img src="./images/img_case-study-2.jpg" alt="Describing your technology framework to 2000 porfessionals"/>
        <div class="paragraph-text">
          <p>
            From its early days, REEBONZ has been using video to excite and engage its customers.
          </p>
          <p>
            To emphasise REEBONZ off-line presence, we conceived a fantasy approach to explored the vibrance, detail and beauty of premium brand handbags available at their Singapore CBD outlet.
          </p>
        </div>
      </div>
    </div>

    <div class="row align-center">
      <div class="columns large-8">
        <h3 class="heading medium-text-center">
          <span class="case">CASE STUDY 2: </span>
          Staying ahead of your competitors by addressing your distribution network in 8 cities in 3 weeks
        </h3>
        <img src="./images/img_case-study-3.jpg" alt="Helping companies communicate teir culture"/>
        <div class="paragraph-text">
          <p>
            For almost 10 years we produced roadshows for BT Funds Management in Australia. The audience was their sales and distribution partners – the channel to 80% of the investors in their retail funds.
          </p>
          <p>
            In addition to arranging design and logistics over many months, we wrote and produced videos and worked with all the plenary and breakout presenters to refine content and rehearse delivery.
          </p>
        </div>
      </div>
    </div>

    <div class="row align-center">
      <div class="columns large-8">
        <h3 class="heading medium-text-center">
          <span class="case">CASE STUDY 3: </span>
          A three day client retreat for a company’s most influential and wealthy clients
        </h3>
        <img src="./images/img_case-study-3.jpg" alt="Helping companies communicate teir culture"/>
        <div class="paragraph-text">
          <p>
            We were responsible for the creative and strategic direction and execution of an event for 40 Private Wealth Management clients from all around Asia, as well as China’s wealthiest man and the division’s most senior executives.
          </p>
          <p>
            The event was held in an exclusive and remote resort in China, where clients were offered investment seminars, golf tournaments, golf pro tuition, a high-end fashion show, a circus acrobat show, fine dining dinners, casual elegant lunches, private city tours, and a trip to Shanghai for a Berlin Philharmonic Orchestra performance and  private drinks with performers in an exclusive hotel.
          </p>
          <p>
            All aspects of the event ran like clockwork and the personal, professional attention to detail helped enhance relationships between the bank and its clients.
          </p>
        </div>
      </div>
    </div>

  </section>


  {% include "partials/footer.html" %}
{% endblock %}
