{% extends "layout-2.html" %}

{% block content%}
  {% import "macros/navbar-macro.html" as nav %}
  {{nav.active('who_we_are')}}

  <header class="page-header">
    <div class="row">
      <div class="columns">
        <h2 class="page-heading">
          Effective, experienced, creative, and fun
        </h2>
        <p class="lead">
          We have extensive experience with all forms of communication - corporate videos, key-note speeches and management conferences, advertising, films, television and theatre. We have worked with founders from startups to executives from multi-national corporations. We’ve helped them  define and deliver clear, compelling messages to their varied audiences – investors, managers, staff, clients and customers.We enjoy what we do, we enjoy the people we work with and we love seeing them develop.
        </p>
      </div>
    </div>
  </header>

  <div class="image-break wwr-1-image"></div>

  <section class="section">
    <div class="row align-center">
      <div class="small-12 large-8 columns">
        <h3 class="heading medium-text-center">
          Peter Browne
        </h3>
        <blockquote>
          &ldquo;We all communicate with great passion and enthusiasm – the trick is to be able to do it to our audience as easily as to our family and friends.&rdquo;
        </blockquote>
        <p>
          Peter trained as an actor for 3 years at NIDA in Sydney, Australia and as a film-maker at Swinburne Institute of Technology in Melbourne, Australia. He has worked as a professional actor since 1981.
        </p>
        <p>
          From 1992 he worked on corporate communication projects, writing and producing conferences, events, presentations and videos. On these projects, he has worked with hundreds of executives – from graduates to CEOs – guiding them to tell their story clearly and with impact.
        </p>
        <p>
          And since 2014 he has focused on delivering formal coaching and training sessions, combining his entertainment and corporate experience to develop confident, passionate presenters.
        </p>
      </div>
    </div>
  </section>

  <div class="image-break wwr-2-image"></div>

  <section class="section">
    <div class="row align-center">
      <div class="small-12 large-8 columns">
        <h3 class="heading medium-text-center">
          Jacqui Browne
        </h3>
        <blockquote>
          &ldquo;The first place to start is with your client. Know your client - understand what they want, what drives them and deliver that. Then you have the basis of a great relationship. &rdquo;
        </blockquote>
        <p>
          For over 15 years, Jacqui worked as a marketing executive in the financial services sector – initially with BT Funds Management, and then Deutsche Bank Private Wealth Management in Sydney. From 2003 she became the Asia-Pacific Head of Marketing for Deutsche Bank Private Wealth Management, based in Singapore.
        </p>
        <p>
          Over this time, she was responsible for the development and execution of the business marketing strategies across the region. This has included the delivery of high-end corporate and social events for Deutsche Bank Private Wealth Management’s wealthiest clients and senior executives  – spanning from boardroom meetings and ballroom investor presentations to exclusive sporting, arts and cultural events across Asia-Pacific and Australia.
        </p>
        <p>
          Since 2010 she has worked with Intangible Communications’ clients on events, marketing, copywriting and video production.
        </p>
      </div>
    </div>
  </section>



  {% include "partials/footer.html" %}
{% endblock %}
