{% extends "layout-2.html" %}

{% block content%}
  {% import "macros/navbar-macro.html" as nav %}
  {{nav.active('word_of_mouth')}}

  <header class="page-header">
    <div class="row">
      <div class="columns">
        <h2 class="page-heading">
          You’ve heard from us - now hear what others have to say
        </h2>
      </div>
    </div>
  </header>

  <div class="image-break wos-image"></div>

  <section class="section contact-info">
    <div class="row align-center">
      <div class="columns">
        <ul class="wos-press-images" id="pressGallery">
          <li><a href="./images/press/Rob-Coombe_BT.png"><img src="./images/press/Rob-Coombe_BT.png" alt="" /></a></li>
          {# <li><a href="./images/press/cxa.pdf"><img src="./images/press/cxa.pdf" alt="" /></a></li> #}
          <li><a href="./images/press/icentre-brian.png"><img src="./images/press/icentre-brian.png" alt="" /></a></li>
          <li><a href="./images/press/Meng-Wong-JFDI.png"><img src="./images/press/Meng-Wong-JFDI.png" alt="" /></a></li>
          <li><a href="./images/press/Ian-Martin-BT.png"><img src="./images/press/Ian-Martin-BT.png" alt="" /></a></li>
          <li><a href="./images/press/Ian-Simmonds-BT.png"><img src="./images/press/Ian-Simmonds-BT.png" alt="" /></a></li>
          <li><a href="./images/press/redmart.png"><img src="./images/press/redmart.png" alt="" /></a></li>
          <li><a href="./images/press/verticurl.png"><img src="./images/press/verticurl.png" alt="" /></a></li>
          <li><a href="./images/press/Peter-Warne-1_BT.png"><img src="./images/press/Peter-Warne-1_BT.png" alt="" /></a></li>
          <li><a href="./images/press/Peter-Warne-2_BT.png"><img src="./images/press/Peter-Warne-2_BT.png" alt="" /></a></li>
        </ul>
      </div>
    </div>
  </section>




  {% include "partials/footer.html" %}
{% endblock %}
